<div class="container-fluid mt-2 mb-5">
  <div class="row mt-2 mb-5">
    <div class="col mt-2 mb-5">

      <div class="row justify-content-center mb-5">
        <div class="col-md col-sm col-lg ms-3 mt-4 mb-5 me-3 p-3 card card_option">
          <div class="row border-bottom">
            <div class="col fw-bold">Usuario</div>
            <div class="col fw-bold">Nombre</div>
            <div class="col fw-bold">Telefono</div>
            <div class="col fw-bold">Curso</div>
            <div class="col fw-bold">I/H</div>
          </div>
          <div class="row border-bottom mt-4 " *ngFor="let item of asignaciones">
            <div class="col text-break">{{ item.email }}</div>
            <div class="col text-break">{{ item.nombre }}</div>
            <div class="col text-break">{{ item.telefono }}</div>
            <div class="col text-break">{{ item.nombre_curso }}</div>
            <div class="col text-break">{{ item.intensidad_horaria }}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>








